
header{
   
    background-image: url("../img/marbre.png");
    background-size: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}
@media(max-width:480px) {
    nav
    {
        display: none;
    }
}
@media(min-width:480px) {
    nav
    {
        display:flex;
        margin-left: 3vw;
        flex-grow: 1;
 
    }
}
body
{
    font-family: 'Yu Gothic';

    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    

}
.pink{
    color: pink;
}
nav > div
{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vw;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(59, 56, 56);
    
    
}

nav>div:hover
{
    background-color: pink;

}
a
{
    font-size: larger;
    color:pink;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: black;
}
.logo{
    max-width: 10vw;
    margin-left: 2vw;
}
main
{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: stretch;
    height:70vmin; 
    flex-grow: 1 2;
    font-family: 'Yu Gothic';
    height: auto;

}
.mytitle{
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    background-color: rgb(238, 234, 234);
    width: 100%;
    margin: auto;
}
article
{
    border: 2px solid pink;
    width: 100%;
    height: auto;
}
.object{
    background-color:rgb(238, 231, 231);
}
aside
{
    background-color: pink;
    width: 100%;
    flex-shrink: 3;
    height: auto;
}
aside > div {
    align-items: center;
    justify-content: center;
    
    margin-left: 10px;
    margin-right: 10px;
}
aside > div > img {
    
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 10vw;

}
.lieu{
    max-width: 20vw;
    margin-right: auto;
    margin-left: auto;
}


footer
{
    position: relative;
    width: 100%;
    left: 0;
   
    text-align: center;
    background-image: url("../img/marbre.jpg");


}

p{
    text-align: center;
}

.myNav
{
    background-color: white;
    border: 1px solid black;
}
.myNav > a
{
    color: black;
}
.center{
    margin: auto;
    margin-top: 2%;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(238, 234, 234);
    height: 100%;
}
.row > div > div {
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 2vw;
    margin-left: 2vw;

}
#contact
{
    background-color: black;
}

